[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-socketio = "*"
gevent = "*"
numpy = "*"
torch = "*"
flask-cors = "*"
imutils = "*"
opencv-python = "==3.4.5.20"
torchvision = "*"

[requires]
python_version = "3.7"
